form {

  display: flex;
  flex-direction: column;

  label {

    font-size: 0.9em;
    color: lighten(grey, 30%);
  }

  button,
  input[type=submit] {

    appearance: none;
    border-radius: 0;
    border: 0;
    background-color: grey;
    color: white;
    padding: 6px;
    font-size: 1.1em;
    text-transform: uppercase;
  }
}
